.colors-1{
    color: #1B2223;
    color: #3A4F50;
    color: #10EF6C;
    color: #F4FEFD;
}
.colors-2{
    color: #2E2828;
    color: #503A3A;
    color: #F65151;
    color: #FEF4F4;
}
.colors-3{
    color: #26292B;
    color: #2E3239;
    color: #5F7ADB;
    color: #A2B2EE;
}